<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログインページ | 業務用アプリケーション</title>

  	<link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/product.css}" rel="stylesheet">
	<link th:href="@{/css/mobile.css}" rel="stylesheet" media="screen and (max-width: 767px)">
	<link th:href="@{/css/application.css}" rel="stylesheet">
</head>
<body class="bg-light">
<div id="bgblack">
<div th:replace="~{base :: siteHeader}"></div>
</div>
<h2 style="margin-top: 120px;">ログアウトしました。</h2>
</body>
</html>
