<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link th:href="@{/admin/css/application.css}" rel="stylesheet">
<link th:href="@{/admin/css/app_header.css}" rel="stylesheet">
<link th:href="@{/admin/css/app_mobile.css}" rel="stylesheet" media="screen and (max-width: 767px)">
<title>Insert title here</title>
</head>
<body>
<div id="bgblack">
<div th:fragment="siteHeader"></div>
<div class="p_infobar_content">
Amazonプライム感謝祭実施中。セール会場はこちら
</div>
	
<div class="l-header-content">

<div class="logo">
<a>
<img src="/image/logo.png">
</a>
<span>SuiTus</span>
</div>

<nav id="header-navigation">
	<ul>
	<li class="loginbtn"><a th:href="@{/login}">ログイン</a></li>
	<li><a th:href="@{/admin/application}" sec:authorize="hasAuthority('ADMIN')">業務管理アプリへ</a></li>
	</ul>
</nav>
</div>
</div>
<button class="c-hamburger-btn btn" aria-expanded="false" aria-controls="drawer-nav">
	<span class="c-hamburger-btn__bars">
		<span class="c-hamburger-btn__bar"></span>
		<span class="c-hamburger-btn__bar"></span>
		<span class="c-hamburger-btn__bar"></span>
	</span>
</button>
	<nav class="sp-menu">
	<ul>
		<li class="loginbtn"><a th:href="@{/login}">ログイン</a></li>
		<li><a th:href="@{/admin/application}" sec:authorize="hasAuthority('ADMIN')">業務管理アプリへ</a></li>
	</ul>
	</nav>
	<h3 class="restoreHeading">復元リスト</h3>
	<a th:href="@{/admin/application}">
	<button style="width: 200px;">戻る</button>
	</a>
	
<table id="restoreTable">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">商品名</th>
      <th scope="col">値段</th>
      <th scope="col">カテゴリー</th>
      <th scope="col">在庫</th>
      <th scope="col">商品id</th>
      <th scope="col">説明文</th>
      <th scope="col">商品情報</th>
      <th scope="col">画像URL</th>
      <th scope="col">商品画像</th>
      <th scope="col">期限</th>
      <th scope="col">購入URL</th>
      <th scope="col">復元</th>
    </tr>
  </thead>
  <tbody th:each="deleteitem: ${deleteitems}">
    <tr>
      <td th:text="${deleteitem.id}"></td>
      <td th:text="${deleteitem.name}"></td>
      <td th:text="${deleteitem.price}"></td>
      <td th:text="${deleteitem.category}"></td>
      <td th:text="${deleteitem.quantity}"></td>
      <td th:text="${deleteitem.itemid}"></td>
      <td th:text="${deleteitem.description}"></td>
      <td th:text="${deleteitem.info}"></td>
      <td th:text="${deleteitem.imageurl}"></td>
      <td>
      	<img class="imageurl" th:src="${deleteitem.imageurl}">
      </td>
      <td th:text="${deleteitem.period}"></td>
      <td th:text="${deleteitem.purchaseurl}"></td>
      <td>
      	<form th:action="@{/admin/restore/{id}(id=${deleteitem.id})}" method="post">
      	<button class="restorebutton">復元</button></form>
      </td>
    </tr>  
  </tbody>
</table>
</body>
</html>